@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$new-theme-colors: (
  "primary": #a3cbc2,
  "secondary": #f8c84d,
  //   "success": ,
  "danger": #da2c38,
  //   "warning": ,
  //   "info": ,
  //   "light": ,
  "dark": #0d1821,
  "background": #c4e4dd45,
);

html,
main,
.modal-header {
  background-color: map-get($map: $new-theme-colors, $key: "background");
}

$theme-colors: map-merge($theme-colors, $new-theme-colors);

@import "~bootstrap/scss/bootstrap";
